<div class="text-center">
  <div class="row">
    <div class="col s12">
      Role_name*:
      <div class="input-field inline">
        <input  type="text" class="validate" value="ROLE_" [(ngModel)]="role_name">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="row">
    <div class="col-md-6" style="text-align: right;margin-left: -4%">
      Profiles*:
    </div>

    <div class="col-md-6" style="width: 20%!important;text-align: left" >
      <ul *ngFor="let p of profiles">
        <li>
          <p-checkbox name="profiles" [label]="p.name" [value]="p.id" [(ngModel)]="checkedProfile" ></p-checkbox>

        </li>
      </ul>

    </div>

  </div>
</div>
<div class="text-center">
  <div class="row">
    <div class="col-md-6" style="text-align: right;margin-left: -4%">
      Status*:
    </div>
    <div class="col-md-2" style="width: 11%!important;text-align: left">
      <p-checkbox name="status" label="Active"></p-checkbox>
      <br>
      <p-checkbox name="status" label="Inactive"></p-checkbox>


    </div>

  </div>
</div>



<div class="text-center">
  <div class="row">
    <div class="col-md-6" style="text-align: right;margin-left: -4%">
    </div>

    <div class="col-md-3" style="text-align: left">
      Case:
      <br><br>
      <div *ngIf="permissions">

        <p-checkbox name="all" [binary]="true" (onChange)="selectAll($event)" label="Toate" ></p-checkbox>
        <br><br>
        <ul *ngFor="let p of permissions">
          <li>
            <p-checkbox name="permissionChecks" check="true" [(ngModel)]="selectedPermissions" [label]="p.name" [value]="p.id" [ngModel]="caseId"></p-checkbox>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
<div class="text-center">
  <div class="row">
    <div class="col-md-6" style="text-align: right;margin-left: -4%">
    </div>

    <div class="col-md-3" style="text-align: left">
      User:
      <br><br>
      <ul>
        <li>
          <p-checkbox name="groupname1" (onChange)="selectAllUsers($event);" [binary]="true" label="Toate"></p-checkbox>
        </li>
        <li *ngFor="let u of users" style="margin-top: 5%">
          <p-checkbox name="groupname1"  [(ngModel)]="selectedUsers" [label]="u.name" [value]="u.id"  ></p-checkbox>
        </li>
      </ul>
    </div>

  </div>
  <a class="waves-effect waves-light btn" style="width: 25%"  (click)="sendEditedRole()">Save</a>

</div>

