<!--<p *ngIf="dosarName">-->
  <!--editdosar works!-->
  <!--the dosarName is {{dosarName}}-->
<!--</p>-->
<form-wizard>
  <wizard-step [title]="'Document Executoriu'">
    <form #emailForm="ngForm">
      <span class="stare">Stare dosar : Inittiere</span>
      <br><br>
      <div class="form-group">
        <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Institutia Emitenta:</label>
        <div class="relative">
          <select class="form-control" name='recommend' required>
            <option value='option-1'>Option 1</option>
            <option value='option-2'>Option 2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Organizatia:</label>
        <div class="relative">
          <select class="form-control" name='recommend' required>
            <option value='option-1'>Option 1</option>
            <option value='option-2'>Option 2</option>
            <option value='option-3'>Option 3</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Numarul documentului executoriu</label>
        <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nr*" required>
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Choose a start date"  style="width: 95%">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <!--<form action="#">-->
        <!--<div class="file-field input-field">-->
          <!--<div class="btn">-->
            <!--<span>File</span>-->
            <!--<input type="file" multiple>-->
          <!--</div>-->
          <!--<div class="file-path-wrapper">-->
            <!--<input class="file-path validate" type="text" placeholder="Upload one or more files">-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->


    </form>

    <p-fileUpload name="file" url="http://192.168.1.69:8080/user/case/fileupload"   (onUpload)="onUpload($event)"
                  multiple="multiple" maxFileSize="80000000" locale="ro-RO">
      <ng-template type="content">
        <ul >
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>

    </p-fileUpload>


  </wizard-step>

  <wizard-step [title]="'Debitor'" >
    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Tip Debitor:</label>
      <div class="relative">
        <select class="form-control" name='recommend' required>
          <option value='option-1'>Persoana Fizica</option>
          <option value='option-2'>Persoana Juridica</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Debitori solidar:</label>
      <div class="relative">
        <select class="form-control" name='recommend' required>
          <option value='option-1'>1</option>
          <option value='option-2'>2</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Nume,Prenume/Denumire Companiei:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required>
    </div>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">IDNP/IDNO:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP/IDNO" required>
    </div>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose an end date"  style="width: 95%">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
    </mat-form-field>
    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Adresa Domiciliu/Adresa Juridica:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresa*" required>
    </div>
    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Cod Postal:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cod*" required>
    </div>
  </wizard-step>
  <wizard-step [title]="'Achitari'" >
    <span class="stare">Stare dosar : Inittiere</span>
    <br><br>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Obiectul achitarii:</label>
      <div class="relative">
        <select class="form-control" name='recommend' required>
          <option value='option-1'>Taxa de stat</option>
          <option value='option-2'>Amenzi penale</option>
          <option value='option-3'>Datorii la stat</option>

        </select>
      </div>
    </div>
    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Suma:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MDL*" required>
    </div>
  </wizard-step>
  <wizard-step [title]="'Continiut si Intentate'" (onComplete)="onComplete($event)">
    <div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>
        <span class="stare">Stare dosar : Inittiere</span>
        <br><br>


        <div class="form-group">
          <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Adaugare memmbru echipa:</label>
          <div class="relative">
            <select class="form-control" name='recommend' required>
              <option value='option-1'>1</option>
              <option value='option-2'>2</option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Proritate:</label>
          <div class="relative">
            <select class="form-control" name='recommend' required>
              <option value='option-1'>Medie</option>
              <option value='option-2'>Scazuta</option>
            </select>
          </div>
        </div>
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Choose an end date"  style="width: 95%">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 [startAt]="endDate"></mat-datepicker>
      </mat-form-field>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Text Procedura</label>
            </div>
          </div>
        </form>
      </div>
    </div>

  </wizard-step>
</form-wizard>
