

<form-wizard>
  <wizard-step [title]="'Document Executoriu'">
    <form #emailForm="ngForm">
      <span class="stare">Stare dosar : Inittiere</span>
      <br><br>
      <div class="form-group">
        <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Institutia Emitenta:</label>
        <div class="relative">
          <select class="form-control" name='recommend' required>
            <option value='option-1'>Option 1</option>
            <option value='option-2'>Option 2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Organizatia:</label>
        <div class="relative">
          <select class="form-control" name='recommend' required>
            <option value='option-1'>Option 1</option>
            <option value='option-2'>Option 2</option>
            <option value='option-3'>Option 3</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Numarul documentului executoriu</label>
        <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nr*" required>
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Choose a start date"  style="width: 95%">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

    </form>





    <!--<div class="content-section implementation">-->
      <!--<p-growl [value]="msgs"></p-growl>-->

      <!--<h3 class="first">Advanced</h3>-->
      <!--<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"-->
                    <!--multiple="multiple" accept="image/*" maxFileSize="10000000">-->
        <!--<ng-template pTemplate="content">-->
          <!--<ul *ngIf="uploadedFiles.length">-->
            <!--&lt;!&ndash;<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>&ndash;&gt;-->
          <!--</ul>-->
        <!--</ng-template>-->
      <!--</p-fileUpload>-->
    <!--</div>-->


    <!--<p-fileUpload #cerere_file name="file" [customUpload]="true" url="http://192.168.1.69:8080/user/case/fileupload"  (onUpload)="onUpload($event)" multiple="multiple" maxFileSize="80000000" >-->
      <!--<ng-template  type="body">-->
        <!--<ul >-->
          <!--<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>-->
        <!--</ul>-->
      <!--</ng-template>-->

    <!--</p-fileUpload>-->

    <!--<button class="btn btn-default" (click)="postFile()" >123</button>-->

    <!--<input type="file" (change)="onChange($event)" required class="form-control " name="attach_file" id="attach_file">-->


    <!--<div class="row">-->
      <!--<div class="col-md-6" style="width: 100%!important;">-->
        <!--&lt;!&ndash;<p-fileUpload mode="basic" #cerere_file [customUpload]="true" accept="image/*" maxFileSize="1000000" files="file_storage" (onUpload)="onBasicUpload($event)"></p-fileUpload>&ndash;&gt;-->
        <!--&lt;!&ndash;<p-fileUpload  mode="basic" #cerere_file  name="demo[]" [customUpload]="true" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"  files="file_storage"></p-fileUpload>&ndash;&gt;-->
        <!--&lt;!&ndash;<label >Upload</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="file" class="form-control" [(ngModel)]="files">&ndash;&gt;-->

        <!--<div>-->
          <!--<input type="file" [multiple]="multiple" #fileInput>-->
        <!--</div>-->
      <!--</div>-->



      <!--<div class="col-md-6">-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-2 control-label"></label>-->
          <!--<div class="col-md-10">-->
            <!--<select class="form-control select" style="width: 50%;height: 38px!important;">-->
              <!--<option>Option 1</option>-->
              <!--<option>Option 2</option>-->
              <!--<option>Option 3</option>-->
              <!--<option>Option 4</option>-->
              <!--<option>Option 5</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
<!--123{{file_storage}}-->

    <!--<div class="s" #cerere_file>-->
      <!--<p-fileUpload id="file" mode="basic"  [customUpload]="true" name="file"  #cerere_file  maxFileSize="800000000" ></p-fileUpload>-->
      <!--<p-fileUpload #cerere_file id="file1" mode="basic"  [customUpload]="true"  accept="image/*" maxFileSize="800000000" ></p-fileUpload>-->



    <!--<button class="btn btn-default" (click)="postFile()" >123</button>-->
    <!--</div>-->


    <p-fileUpload mode="basic" name="file" url="{{url_for_upload}}"  maxFileSize="800000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>


    <!--<input type="file"-->
           <!--(change)="fileChange($event)"-->
           <!--placeholder="Upload file"-->
           <!--accept=".pdf,.doc,.docx">-->


    <!--<p-fileUpload name="file" url="http://192.168.1.69:8080/user/case/fileupload" (onUpload)="onUpload($event)"-->
                  <!--multiple="multiple"  maxFileSize="8000000000">-->
      <!--<ng-template  type="content">-->
        <!--<ul *ngIf="uploadedFiles.length">-->
          <!--<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>-->
        <!--</ul>-->
      <!--</ng-template>-->
    <!--</p-fileUpload>-->


    <!--<input type="file" (change)="changeListener($event)">-->
    <!--<input type="file" (change)="changeListener($event)">-->








    <!--&lt;!&ndash;<input type="text">&ndash;&gt;-->

    <!--<div class="file-field input-field">-->
      <!--<div class="btn" (click)="onBasicUpload(event)">-->
        <!--<span>File</span>-->
        <!--<input type="file">-->
      <!--</div>-->
      <!--<div class="file-path-wrapper">-->
        <!--<input class="file-path validate" type="text">-->
      <!--</div>-->
    <!--</div>-->
  </wizard-step>

  <wizard-step [title]="'Debitor'" >


    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">IDNP:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP" data-length="13" required>
    </div>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Nume:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nume" required>
    </div>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Prenume:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prenume" required>
    </div>
    <mat-form-field>
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Data nasterii:</label>
      <br>
      <input matInput [matDatepicker]="picker2" placeholder="Choose an end date"  style="width: 95%">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
    </mat-form-field>
    <br>
    <div class="form-group">
        <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Adresa Domiciliu:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresa*" required>
    </div>
    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Cod Postal:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cod*" required>
    </div>
  </wizard-step>




  <wizard-step [title]="'Creditor'" >

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">IDNP:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP" required>
    </div>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Nume:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nume" required>
    </div>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Prenume:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prenume" required>
    </div>


    <mat-form-field>
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Data nasterii:</label>
      <br>
      <input matInput [matDatepicker]="picker4" placeholder="Choose an end date"  style="width: 95%">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4 [startAt]="endDate"></mat-datepicker>
    </mat-form-field>

    <br>
    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Adresa Domiciliu:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresa*" required>
    </div>
    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Cod Postal:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cod*" required>
    </div>
  </wizard-step>








  <wizard-step [title]="'Copii'" >

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Copii:</label>
      <div class="relative">
        <select class="form-control" name='recommend' required [(ngModel)]="index" >
          <option *ngFor="let child of childrens1" value='{{child.id}}' selected="{{child.id == 1}}">{{child.id}}  {{child.name}} {{child.surname}} {{child.patronimic}}</option>
        </select>
      </div>
    </div>

    <div class="form-group" >
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Nume:</label>
      <input type="text" class="form-control"  name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens1[index-1].name" placeholder="" required >
    </div>
    <div class="form-group" >
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Prenume:</label>
      <input type="text" class="form-control"  name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens1[index-1].surname" placeholder="" required >
    </div>
    <div class="form-group" >
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Patronimic:</label>
      <input type="text" class="form-control"  name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens1[index-1].patronimic" placeholder="" required >
    </div>

    <mat-form-field>
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Data nasterii:</label>
      <br>
      <input matInput [matDatepicker]="picker5" placeholder="Choose an end date" name="date" [(ngModel)]="childrens1[index-1].date" style="width: 95%">
      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
      <mat-datepicker #picker5 [startAt]="endDate"></mat-datepicker>
    </mat-form-field>


  </wizard-step>






  <wizard-step [title]="'Achitari'" >
    <span class="stare" style="font-family: 'Segoe UI', sans-serif;font-weight: 500;font-size: large;color: black">Stare dosar : Inittiere</span>
    <br><br>

    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Modalitatea achitarii:</label>
      <div class="relative">
        <select class="form-control" name='recommend' required>
          <option value='option-1'>Suma fixa</option>
          <option value='option-2'>Amenzi penale</option>
          <option value='option-3'>Datorii la stat</option>

        </select>
      </div>
    </div>
<div class="row">
  <div class="col-md-5">
    <mat-form-field>
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Durata achitarii:</label>
      <br>
      <input matInput [matDatepicker]="picker7" placeholder="Choose an end date"  style="width: 90%">
      <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
      <mat-datepicker #picker7 [startAt]="endDate"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-5">
    <mat-form-field>
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Pina la:</label>
      <br>
      <input matInput [matDatepicker]="picker8" placeholder="Choose an end date"  style="width: 90%">
      <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
      <mat-datepicker #picker8 [startAt]="endDate"></mat-datepicker>
    </mat-form-field>
  </div>
</div>





    <div class="form-group">
      <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Suma:</label>
      <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MDL*" required>
    </div>
  </wizard-step>


  <wizard-step [title]="'Continut si Intentare'" (onComplete)="onComplete($event)">
    <div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>
        <span class="stare">Stare dosar : Inittiere</span>
        <br><br>


        <div class="form-group">
          <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Adaugare memmbru echipa:</label>
          <div class="relative">
            <select class="form-control" name='recommend' required>
              <option value='option-1'>1</option>
              <option value='option-2'>2</option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Proritate:</label>
          <div class="relative">
            <select class="form-control" name='recommend' required>
              <option value='option-1'>Medie</option>
              <option value='option-2'>Scazuta</option>
            </select>
          </div>
        </div>
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Choose an end date"  style="width: 95%">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 [startAt]="endDate"></mat-datepicker>
      </mat-form-field>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Text Procedura</label>
            </div>
          </div>
        </form>
      </div>
    </div>

  </wizard-step>
</form-wizard>
