<p>123123123123 P:344</p>

<form-wizard style="float: right">
  <wizard-step [title]="'Document Executoriu'" >

    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-6">


        <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">
          <p-header >
            <div class="ui-helper-clearfix">
              <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Date initiale</span>
            </div>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large"  >Inittiere</span> </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Numarul documentului executoriu</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nr*" required style="height: 2rem" [(ngModel)]="doc_executor">
            </div>
          </div>

          <!--<div class="ui-g">-->
            <!--<div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Start date</label></div>-->
            <!--<div class="ui-g-6">-->
              <!--<mat-form-field>-->
                <!--<input matInput [matDatepicker]="picker1" placeholder="Angular forms"  style="width: 76%;height: 2rem" [(ngModel)]="date" disabled>-->
                <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
                <!--<mat-datepicker #picker1></mat-datepicker>-->
              <!--</mat-form-field>-->
              <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
                <!--&lt;!&ndash;<input matInput [formControl]="date" [matDatepicker]="picker1" placeholder="Choose a start date"  style="width: 76%;height: 2rem" [(ngModel)]="date_from" name="date_from">&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>&ndash;&gt;-->
              <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->


          <div class="ui-g">
            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Institutia Emitenta:</label></div>
            <div class="ui-g-6">
              <div class="relative">
                <select class="form-control" name='recommend' required>
                  <option value='option-1'>Option 1</option>
                  <option value='option-2'>Option 2</option>
                </select>
              </div>
            </div>
          </div>


        </p-panel>

        <p-growl [value]="msgs"></p-growl>

        <p-panel  header= "Files" [toggleable]="false" [style]="{'margin-bottom':'20px'}">


          <div class="ui-g">
            <div class="ui-g-6">
                <a download="" style="font-family: 'Segoe UI',sans-serif">Filename.pdf</a>
            </div>
            <div class="ui-g-6">
              <button class="btn btn-default"   style="background-color: rgb(249, 131, 131)!important;!important;float: right">
                <span style="color: #000000" class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <a download="" style="font-family: 'Segoe UI',sans-serif">Secondname.docx</a>
            </div>
            <div class="ui-g-6">
              <button class="btn btn-default"   style="background-color: rgb(249, 131, 131)!important;!important;float: right">
                <span style="color: #000000" class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>

          <hr>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Tip dicument:</label></div>
            <div class="ui-g-6">
              <select class="form-control" name='recommend' required (change)="onChangeFunction()" [(ngModel)]="choose_file_type">
                <option value='null'>Select</option>
                <option value='1'>Option 1</option>
                <option value='2'>Option 2</option>
                <option value='3'>Option 3</option>
              </select>
            </div>
          </div>


          <p-fileUpload name="file"   url="{{url_for_upload}}"  maxFileSize="80000000" chooseLabel="Alege" >
            <div class="row">

              <ng-template  type="body">
                <ul *ngIf="uploadedFiles.length">
                  <li [(ngModel)]="file_name" *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
              </ng-template>

            </div>

          </p-fileUpload>
        </p-panel>





      </div>
      <div class="ui-g-3"></div>
    </div>




  </wizard-step>

  <wizard-step [title]="'Debitor'" >



      <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
          <p-growl [value]="msgs"></p-growl>

          <p-panel  header="Debitor" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">IDNP</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP*" required style="height: 2rem">
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Nume</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nume*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Prenume</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prenume*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Adresa</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresa*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Cod postal</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cod postal*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Data nasterii</label></div>
            <div class="ui-g-6">

              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Choose an end date"  style="width: 70%;height: 2rem">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          </p-panel>
        </div>
        <div class="ui-g-3"></div>
      </div>








  </wizard-step>




  <wizard-step [title]="'Creditor'" >



    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-6">
        <p-growl [value]="msgs"></p-growl>

        <p-panel  header="Creditor" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">IDNP</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP*" required style="height: 2rem">
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Nume</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nume*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Prenume</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prenume*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Adresa</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresa*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Cod postal</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cod postal*" required style="height: 2rem">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Data nasterii</label></div>
            <div class="ui-g-6">

              <mat-form-field>
                <input matInput [matDatepicker]="picker4" placeholder="Choose an end date"  style="width: 70%;height: 2rem">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="ui-g-3"></div>
    </div>








  </wizard-step>

  <div class="ui-g">

    <div class="ui-g-3"></div>


    <div class="ui-g-6">
      <wizard-step [title]="'Copii'" >
      <p-growl [value]="msgs"></p-growl>
      <p-panel  header="Copii" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Copii:</label></div>
          <div class="ui-g-6">
            <select class="form-control" name='recommend' required [(ngModel)]="index" >
              <option *ngFor="let child of childrens1" value='{{child.id}}' selected="{{child.id == 1}}">{{child.id}}  {{child.name}} {{child.surname}} {{child.patronimic}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Nume</label></div>
          <div class="ui-g-6">
            <input type="text" class="form-control"   name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens1[index-1].surname" placeholder="Nume" required  style="height: 2rem">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Prenume</label></div>
          <div class="ui-g-6">
            <input type="text" class="form-control"  name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens1[index-1].name" placeholder="Prenume" required style="height: 2rem">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Patronimic</label></div>
          <div class="ui-g-6">
            <input type="text" class="form-control"  name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens1[index-1].patronimic" placeholder="Patronimic" required style="height: 2rem">
          </div>
        </div>


        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Data nasterii</label></div>
          <div class="ui-g-6">

            <mat-form-field>
                <input matInput [matDatepicker]="picker5" placeholder="Data nasterii" name="date" [(ngModel)]="childrens1[index-1].date" style="width: 76%;height: 2rem" >
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5 [startAt]="endDate"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      </p-panel>
      </wizard-step>
    </div>
    <div class="ui-g-3"></div>
  </div>





  <div class="ui-g">
    <div class="ui-g-3"></div>
    <div class="ui-g-6">
      <wizard-step [title]="'Achitari'" >
        <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">
          <p-header >
            <div class="ui-helper-clearfix">
              <span class="ui-panel-title" style="display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Date initiale</span>
            </div>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Inittiere</span> </div>
          </div>

          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Modalitatea achitarii:</label></div>
            <div class="ui-g-6">
              <div class="form-group">
                <div class="relative">
                  <select class="form-control" name='recommend' required>
                    <option value='option-1'>Suma fixa</option>
                    <option value='option-2'>Amenzi penale</option>
                    <option value='option-3'>Datorii la stat</option>

                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Durata achitarii:</label></div>
            <div class="ui-g-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker7" placeholder="Choose an end date"  style="width: 76%;height: 2rem">
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Pina la:</label></div>
            <div class="ui-g-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker8" placeholder="Choose an end date"  style="width:76%;height: 2rem">
                <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                <mat-datepicker #picker8 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>


          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Suma:</label></div>
            <div class="ui-g-6">
              <input type="email" class="form-control" style="height: 2rem"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MDL*" required>

            </div>
          </div>

        </p-panel>

      </wizard-step>
    </div>
    <div class="ui-g-3"></div>
  </div>


  <div class="ui-g">
    <div class="ui-g-3"></div>
    <div class="ui-g-6">
      <wizard-step [title]="'Continut si Intentare'" (onComplete)="onComplete($event)">
        <div [ngSwitch]="isCompleted">
          <div *ngSwitchDefault>

      <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">
        <p-header >
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Continut si Intentare</span>
          </div>
        </p-header>

        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Stare dosar :</label></div>
          <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Inittiere</span> </div>
        </div>

        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Adaugare memmbru echipa:</label></div>
          <div class="ui-g-6">
            <select class="form-control" name='recommend' required>
              <option value='option-1'>1</option>
              <option value='option-2'>2</option>
            </select>
          </div>
        </div>



        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Proritate:</label></div>
          <div class="ui-g-6">
            <select class="form-control" name='recommend' required>
              <option value='option-1'>Medie</option>
              <option value='option-2'>Scazuta</option>
            </select>
          </div>
        </div>



        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Data limita de executare:</label></div>
          <div class="ui-g-6">
            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="Choose an end date"  style="width:76%;height: 2rem">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3 [startAt]="endDate"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large;vertical-align: text-top;">Text procedura:</label></div>
          <div class="ui-g-6">
            <div class="form-group">
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
          </div>
        </div>


      </p-panel>




          </div>
        </div>
      </wizard-step>
    </div>
    <div class="ui-g-3"></div>
  </div>

</form-wizard>
