body .ui-panel .ui-panel-titlebar {
  border: 0 none;
  border-bottom: 1px solid #e6e6e6;
  padding: .75em 1.25em;
  background-color: #000000;

}
.ui-widget-header{
  background-color: #000000!important;
}

