<div class="ui-g">
  <div class="ui-g-2"></div>

  <div class="ui-g-8">
    <p-panel header="Role">
      <div class="text-center">
        <div class="row">
          <div class="col s12">
            Role_name*:
            <div class="input-field inline">
              <input  type="text" class="validate" value="ROLE_" [(ngModel)]="role_name" style="height: 2rem">
              <label  data-error="wrong" data-success="right"></label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center">
        <div class="row">
          <div class="col-md-6" style="text-align: right;margin-left: -4%">
            <span style="font-family: 'Segoe UI',sans-serif;color: black">Profiles:</span>
          </div>
          <div class="col-md-6" style="width: 20%!important;text-align: left">
            <ul *ngFor="let p of profiles">
                <p-checkbox name="profiles" [label]="p.name" [value]="p.id" [(ngModel)]="checkedProfile" ></p-checkbox>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center">
        <div class="row">
          <div class="col-md-6" style="text-align: right;margin-left: -4%">
            <span style="font-family: 'Segoe UI',sans-serif;color: black">Status:</span>
          </div>
          <div class="col-md-6" style="width: 20%!important;text-align: left">
            <p-checkbox name="status" label="Active"></p-checkbox>
            <!--<br>-->
            <!--<p-checkbox name="status" label="Inactive"></p-checkbox>-->
          </div>
        </div>
      </div>

    </p-panel>
  </div>

  <div class="ui-g-2"></div>
</div>


<div class="ui-g">
  <div class="ui-g-2"></div>
  <div class="ui-g-8">
    <p-panel header="Permissions">
      <div class="text-center">
        <div class="row">
          <div class="col-md-6" style="text-align: right;margin-left: -4%">
            <span style="font-family: 'Segoe UI',sans-serif;color: black">Case:</span>
          </div>
          <div class="col-md-6" style="width: 20%!important;text-align: left">
            <div *ngIf="permissions">

              <p-checkbox name="all" [binary]="true" (onChange)="selectAll($event)" label="Toate" ></p-checkbox>
              <ul *ngFor="let p of permissions">
                <li>
                  <p-checkbox name="permissionChecks" check="true" [(ngModel)]="selectedPermissions" [label]="p.name" [value]="p.id" [ngModel]="caseId"></p-checkbox>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr style="width: 60%">
      <div class="text-center">
        <div class="row">
          <div class="col-md-6" style="text-align: right;margin-left: -4%">
            <span style="font-family: 'Segoe UI',sans-serif;color: black">User:</span>
          </div>
          <div class="col-md-6" style="width: 20%!important;text-align: left">
            <ul>
              <li>
                <p-checkbox name="groupname1" (onChange)="selectAllUsers($event);" [binary]="true" label="Toate"></p-checkbox>
              </li>
              <li *ngFor="let u of users" style="margin-top: 5%">
                <p-checkbox name="groupname1"  [(ngModel)]="selectedUsers" [label]="u.name" [value]="u.id"  ></p-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </div>



    </p-panel>
  </div>
  <div class="ui-g-2"></div>
</div>

<div class="text-center">

  <a class="waves-effect waves-light btn" style="width: 10%"  (click)="sendRoles()">Save</a>
  <a class="waves-effect waves-light btn" style="width: 10%;background-color: whitesmoke!important;color: black!important;"  routerLink="adminDashboard/roles">Cancel</a>

</div>

