<div class="col-md-10" style="background-image: url('../../assets/login_quill.png');background-repeat: no-repeat;background-position: right;background-size: 45%">

<form class="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Nume:</label>
        <div class="relative">
          <input class="form-control" id="name" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" autocomplete="" placeholder="Nume">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Prenume:</label>
        <div class="relative">
          <input class="form-control" id="surname" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" autocomplete="" placeholder="Prenume">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Tara:</label>
        <div class="relative">
          <input class="form-control" type="email" required="" placeholder="Tara" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Municipiul:</label>
        <div class="relative">
          <input class="form-control" type="email" required="" placeholder="Municipiul" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Cod postal:</label>
        <div class="relative">
          <input class="form-control" type="email" required="" placeholder="Cod postal" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        </div>
      </div>
    </div>
  </div>



  <div class="form-group">
    <label for="email">Email:</label>
    <div class="relative">
      <input class="form-control" type="text" maxlength="10"  required="" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="email">Addresa:</label>
    <div class="relative">
      <input class="form-control" type="text" maxlength="10"  required="" placeholder="Addresa">
    </div>
  </div>

  <div class="form-group">
    <label for="email">Licenta Nr.:</label>
    <div class="relative">
      <input class="form-control" type="text" maxlength="10"  required="" placeholder="Id">
    </div>
  </div>

  <div class="form-group">
    <label for="email">Organizatia:</label>
    <div class="relative">
      <select class="form-control" name='recommend'>
        <option value='option-1'>Option 1</option>
        <option value='option-2'>Option 2</option>
        <option value='option-3'>Option 3</option>
      </select>
    </div>
  </div>


  <div class="tright">
    <a href=""><button class="movebtn movebtnsu" type="Submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button></a>
  </div>
</form>
