
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <p-panel header="Credentials for new Organization">




        <!--<input #text (keyup)="myText = text.value" maxlength="13"><span>13/{{myText | countdown:13}} </span>-->
        <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()" #createForm="ngForm">
          <div class="container" style="margin-left: 20%">

            <div class="form-group">
              <label class="col-md-3 control-label">IDNO</label>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-10">
                    <input type="text" style="width: 58%!important;" #text (keyup)="myText = text.value" minlength="13" maxlength="13" class="form-control" placeholder="&nbsp;" name="idno" [(ngModel)]="dateCredentials.idno" required/>
                  </div>
                  <div class="col-md-2">
                    <span *ngIf="dateCredentials.idno != null" style="vertical-align: middle">{{myText | countdown:13}}/13</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Licensee Code</label>
              <div class="col-md-9">
                <input type="text" class="form-control" value="&nbsp;" name="code" [(ngModel)]="dateCredentials.code"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" value="&nbsp;" name="name" [(ngModel)]="dateCredentials.name"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="email"  [(ngModel)]="dateCredentials.email"/>
                <!--<span style="color: red;font-family: 'Segoe UI',sans-serif" *ngIf="dateCredentials.email == null">VALIDATION!!!</span>-->
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label">Tel/fax</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="fax"  [(ngModel)]="fax"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Phone</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="phone"  [(ngModel)]="phone"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Bank Account</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="&nbsp;" name="bankID" [(ngModel)]="bank_accoutId"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Bank</label>
              <div class="col-md-9">
                <select class="form-control select" style="width: 50%" name='recommend' [(ngModel)]="bankOrganization">
                  <option *ngFor="let bank of banksOrganizations" [ngValue]="bank.id">{{bank.name}}</option>
                </select>
              </div>
            </div>

            <br>

            <div class="form-group">
              <label class="col-md-3 control-label">City</label>
              <div class="col-md-9">
                <select class="form-control select" style="width: 50%" name='city' [(ngModel)]="cityOrganization">
                  <option *ngFor="let city of cityOrganizations" [ngValue]="city.id">{{city.name}}</option>
                </select>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="col-md-3 control-label">Street</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="&nbsp;" name="street" [(ngModel)]="street"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Block</label>
              <div class="col-md-3">
                <input type="text" class="form-control" placeholder="&nbsp;" name="block" [(ngModel)]="block"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Postal code</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="&nbsp;" name="postCode" [(ngModel)]="dateCredentials.post_code"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Working hours</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="&nbsp;" name="hours" [(ngModel)]="dateCredentials.hoursw"/>
              </div>
            </div>

          </div>
          <div class="text-center">
            <button class="waves-effect waves-light btn"  (click)="sendDate()"  [disabled]="!createForm.form.valid">Save</button>
            <button class="waves-effect waves-light btn" style="background-color: red!important;color: white" routerLink="/adminDashboard/organization">Cancel</button>
          </div>
          <br>

        </form>



      </p-panel>


    </div>
    <div class="ui-g-2"></div>
  </div>
