
<p-dataTable sortMode="multiple" loading="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt [value]="users" [paginator]="true"
             [scrollable]="true" [rows]="8" selectionMode="single" [lazy]="true" (onRowSelect)="handleR($event)" [totalRecords]="total_records" [responsive]="true" [rowsPerPageOptions]="per_page"
             (onLazyLoad)="loadData($event) ">

  <p-column  [style]="{'width':'20%'}" field="name"   [filter]="true"  [sortable]="true" filterPlaceholder="Search">
    <ng-template pTemplate="header">
      Name
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con[col.field]}}
    </ng-template>
  </p-column>
  <p-column  [style]="{'width':'20%'}" field="geo"  [filter]="true"  [sortable]="true" filterPlaceholder="Search">
    <ng-template pTemplate="header">
      Address
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con[col.field]}}
    </ng-template>
  </p-column>
  <p-column  [style]="{'width':'20%'}" field="geo"   >
    <ng-template pTemplate="header">
      Actions
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      <button class="btn btn-success" routerLink="/dash/editdosar/{{con['name']}}" >Edit</button>
      <button class="btn btn-danger" (click)="confirm()">Delete</button>
      <button class="btn btn-info">View</button>
    </ng-template>
  </p-column>
</p-dataTable>



<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" ></button>
  </p-footer>
</p-confirmDialog>
