
<div class="row">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Roles</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="createRole()" style="float: right;margin-top: 2%" >New Role</button>
  </div>
</div>
<div class="container" style="max-width: 100%;width: 100%!important;">
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"
               [globalFilter]="gb" #dt [value]="tableRoles" [paginator]="false"
               [scrollable]="true"   [totalRecords]="total_records" [responsive]="true">

    <p-column  [style]="{'width':'70%'}" field="role_name"  filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Name
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['role_name']}}
      </ng-template>
    </p-column>


    <p-column  [style]="{'width':'30%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button  (click)="editRole(con['id']);" class="btn btn-default" style="background-color: white!important;width: 23%;text-align: center">
          <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default" style="background-color: white!important;width: 23%" (click)="deleteRole(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
        </button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-confirmDialog></p-confirmDialog>


