/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {*/
  /*padding: 8px;*/
  /*line-height: 1.42857143;*/
  /*vertical-align: middle;*/
  /*border-top: 1px solid #ddd;*/
/*}*/
.row {
  margin-right: -0!important;
  margin-left:-0!important;
}
