
<nav>
  <div class="nav-wrapper">
    <ul id="dropdown1" class="dropdown-content">
      <li><a routerLink="accountSettings">Settings</a></li>
      <li><a routerLink="">LogOut</a></li>
    </ul>
    <a routerLink="dash" class="brand-logo"><img src="../../assets/coat_of_arms.png" style="width: 5%;font-weight: 200" alt="">
      <span style="font-weight: 200;font-family: 'Segoe UI',sans-serif">E-executor</span></a>
    <div href="#!" class="brand-logo center" style="line-height: 1!important;">
      <span class="spannav">Sediu.Chisinau , str Str.Pushkin 4</span>
      <span class="spannav">Tel. tel/fax 0(22)444444 , 079759697</span>
      <br>
      <span class="spannav">Email:vadim.batenko@soft-tehnica.com , </span>
      <span class="spannav">Executor Vadim Batenko</span>
    </div>
    <ul class="right hide-on-med-and-down">
      <li><a href="" class="dropdown-button" data-activates="dropdown1"><i class="material-icons" >perm_identity</i></a></li>
      <li><a routerLink="calendar"><i class="material-icons">perm_contact_calendar</i></a></li>
      <li><a href=""><i class="material-icons">notifications</i></a></li>
    </ul>
  </div>
</nav>
<div class="sidebar-overlay"></div>
<br>
<div class="row" style="
  margin-right: 0!important;
  margin-left: 0!important;">
  <div class="col-md-3" style="padding-left: 0!important;width: 22%!important;">
    <aside id="sidebar"  class="sidebar sidebar-default open vertical-divider" role="navigation">
      <ul class="nav sidebar-nav">
        <li>
          <a routerLink="dosareStat">
            Dosare Mele
          </a>
        </li>
        <li>
          <a routerLink="dosarePensiiAlimentare">
            Dosare Pensii Alimentare
          </a>
        </li>
        <li>
          <a routerLink="dosareStat">
            Dosare Civile
          </a>
        </li>
        <li>
          <a routerLink="dosareStat">
            Dosare Stat
          </a>
        </li>
        <li>
          <a routerLink="dosareStat">
            Registru Intrarii
          </a>
        </li>
        <li>
          <a routerLink="dosareStat">
            Registru Iesirii
          </a>
        </li>
        <li>
          <a routerLink="dosareStat">
            Registru Servivii
          </a>
        </li>
        <li>
          <a routerLink="dosareStat">
            Rapoarte
          </a>
        </li>
        <li class="divider"></li>
      </ul>
    </aside >
  </div>
  <div class="col-md-9" style="margin-top: 1%">

      <router-outlet></router-outlet>
  </div>
</div>


