<nav style="background-color: #4a89dc;">
  <div class="nav-wrapper">
    <ul id="dropdown1" class="dropdown-content">
      <li><a >Settings</a></li>
      <li><a >LogOut</a></li>
    </ul>
    <a routerLink="dash" class="brand-logo"><img src="../../assets/coat_of_arms.png" style="width: 5%;font-weight: 200" alt="">
      <span style="font-weight: 200;font-family: 'Segoe UI',sans-serif">E-executor</span></a>

  </div>
</nav>

<div class="row" style="margin-right: 0!important;margin-left: 0!important;">
  <div class="col-md-3" style="padding-left: 0!important;width: 25%!important;padding-right: 0!important;">
    <nav class="navbar navbar-default sidebar" role="navigation" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li ><a routerLink="organization">Organizatii</a></li>
            <li ><a routerLink="profiles">Profile</a></li>
            <li ><a routerLink="users">Utilizatori</a></li>



            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workflow</a>
              <ul class="dropdown-menu forAnimate" role="menu">
                <li><a href="">Stari</a></li>
                <li class="divider"></li>
                <li><a href="#">Tranzitii</a></li>
                <li class="divider"></li>
                <li><a href="#">Permisiuni Cimpuri</a></li>
              </ul>
            </li>

            <li class="dropdown open">
              <a  class="dropdown-toggle" data-toggle="dropdown open">Nomenclatoare</a>
              <ul class="dropdown-menu forAnimate" role="menu" style="padding-left: 5%">

                <li><a routerLink="nomenclatorBanks">Banks</a></li>
                <li class="divider"></li>

                <li><a  routerLink="workFunctions">Work Functions</a></li>
                <li class="divider"></li>

                <li><a routerLink="payment">Payment mode</a></li>
                <li class="divider"></li>

                <li><a routerLink="nomenclatorCities">City</a></li>
                <li class="divider"></li>

                <li><a href="#">Object execution</a></li>
                <li class="divider"></li>

                <li><a routerLink="instanseEmitent">Instance emitent</a></li>
                <li class="divider"></li>

                <li><a routerLink="priority">Priority</a></li>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurare aplicatiei</a>
              <ul class="dropdown-menu forAnimate" role="menu">
                <li><a href="">Denumire</a></li>
                <li class="divider"></li>
                <li><a href="#">SMTP</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicii</a>
              <ul class="dropdown-menu forAnimate" role="menu">
                <li><a href="">MNotify</a></li>
                <li class="divider"></li>
                <li><a href="#">MSign</a></li>
                <li class="divider"></li>
                <li><a href="#">MLog</a></li>
                <li class="divider"></li>
                <li><a href="#">MPay</a></li>
              </ul>
            </li>


            <li class="dropdown">
              <a routerLink="roles" class="dropdown-toggle" data-toggle="dropdown">Roluri</a>
              <ul class="dropdown-menu forAnimate" role="menu">
                <li><a href="">Profile per Roluri</a></li>
                <li class="divider"></li>
                <li><a href="#">Permisiuni per Roluri</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-md-9" style="margin-left: 0!important; padding-left: 0;padding-top: 0!important;padding-right: 0!important;width: 75%">
    <router-outlet></router-outlet>
  </div>
</div>


