
<div class="row">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Dosare Pensii Alimentare</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="createOrganization()" style="float: right;margin-top: 1%" >New dosar</button>
  </div>
</div>
<p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt [value]="userrs" [paginator]="true"
             [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" *ngIf="users" [immutable]=false>

  <p-column  [style]="{'width':'15%'}" field="Name" >
    <ng-template pTemplate="header">
      Name
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['name']['first']}}     {{con['name']['last']}}

    </ng-template>
  </p-column>


  <p-column  [style]="{'width':'20%'}"    >
    <ng-template pTemplate="header">
      Actions
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">

      <button  class="btn btn-default" style="background-color: white!important;width: 23%;text-align: center" routerLink="/dash/editPensiiAlimentare/{{con['name']['first']}}">
        <span style="color: #1e439b" class="glyphicon glyphicon-edit"  ></span>
      </button>
      <button class="btn btn-default"   style="background-color: white!important;width: 23%">
        <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
      </button>
    </ng-template>
  </p-column>
  <!--</p-row>-->
</p-dataTable>
<p-confirmDialog></p-confirmDialog>
